.relatorio-corte-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px; /* Ajuste conforme necessário */
  background-color: #f4f4f4; /* Cor de fundo */
  padding: 10px;
}

.content-container {
  flex: 1; /* Ocupa o restante do espaço */
  padding: 20px;
  background-color: #fff; /* Cor de fundo */
  overflow-y: auto; /* Adiciona rolagem se necessário */
}

.titulo-container {
  text-align: center;
  margin-bottom: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
  width: 300px; /* Ajuste conforme necessário */
}

.results-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-info {
  display: flex;
  gap: 5px;
}
