.relatorio-corte-container {
  display: flex;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  overflow: hidden; /* Esconde o overflow horizontal */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-left {
  display: flex;
  align-items: center;
}

.back-button {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.top-right-relatorio {
  display: flex;
  align-items: center;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-filter-container {
  display: flex;
  align-items: center;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar-listacliente {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.filter-button {
  margin-left: 10px;
}

.table-container {
  overflow-x: auto;
}

.table-container::-webkit-scrollbar {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-right: -100px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
