.sidebar {
    width: 20%;
    background: linear-gradient(to bottom, #ffffff 0%, #c4c4c4 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #000000;
    height: 100vh; /* Estende o menu lateral até o fim da tela */
}

.titanium {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client-name {
    font-size: 18px;
    color: #000000;
    margin-bottom: 30px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-nav ul li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.sidebar-nav ul li.active,
.sidebar-nav ul li:hover {
    background-color: #ff6600;
    color: #ffffff;
}

.sidebar-nav ul li .icon {
    margin-right: 10px;
}

.sidebar-nav ul li .home-icon {
    margin-right: 10px;
}

.sidebar-nav ul li .flag-icon {
    margin-right: 10px;
}

.sidebar-nav ul li .logout-icon {
    margin-right: 10px;
}