body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .order-service-container {
    display: flex;
    height: 100vh;
  } 
  
  .sidebar {
    width: 20%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .titulo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .vertical-line {
    height: 50px;
    width: 2px;
    background-color: white;
    margin-right: 10px;
  }
  
  .titulo {
    font-size: 24px;
    font-weight: bold;
    color: #ffd700;
  }
  
  .profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .sidebar-nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-nav ul li {
    margin: 15px 0;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .sidebar-nav ul li:hover {
    color: #ffd700;
  }
  
  .order-service-form {
    width: 80%;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .order-service-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .form-group small {
    display: block;
    margin-top: 5px;
    color: #777;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .submit-button:hover {
    background-color: #444;
  }
  